.content {
  margin-left: 20rem;
  padding: 8rem 4rem 4rem 4rem;
  min-height: 100vh;
  z-index: 1000;

  &__breadcrum {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 2rem;
  }

  &__link {
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-black-light-2;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-primary;
    }

    svg {
      color: inherit;
      padding: .4rem;
    }
  }

  &__current {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  &__pages {
    margin-top: 3rem;
  }
}
