.header {
  background-color: #fff;
  z-index: 500;
  border-bottom: 1px solid $color-grey-light-2;
  position: fixed;
  margin-left: 20rem;
  width: calc(100% - 20rem);
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__icons {
    display: flex;
    align-items: center;
    height: 5rem;

    svg {
      height: 5rem;
      width: 5rem;
      padding: 1.6rem;
      color: $color-grey-dark;
      vertical-align: middle;
      transition: all 0.4s ease-out;
      &:not(:first-child) {
        margin-left: 1rem;
      }

      &:hover {
        background-color: $color-grey-light-3;
      }
    }
  }
  &__img-box {
    display: flex;
    align-items: center;
    height: 5rem;
    padding-right: 4rem;
    margin-left: 1rem;
    transition: all 0.4s ease-out;
    img {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      margin-left: 1rem;
    }
    span {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
    &:hover {
      background-color: $color-grey-light-3;
    }
  }
}
