.navigation {
  background-color: #fff;
  z-index: 500;
  border-right: 2px solid $color-grey-light-2;
  position: fixed;
  width: 20rem;
  height: 100%;

  &__logo-box {
    height: 8rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &__admin-box {
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &__nav {
    height: 100vh;
    z-index: 1000;
    width: 100%;
    margin-top: 2rem;
  }
  &__list {
    list-style: none;
    // text-transform: uppercase;
    width: 100%;
    
  }

  &__item {
    position: relative;
    z-index: 10;
    margin-bottom: 1rem;
  }

  // &__item::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 3px;
  //   background-color: $color-grey-blue;
  //   transform: scaleY(0);
  //   transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  // }

  // &__item:hover::before,
  // &__item--active::before {
  //   transform: scaleY(1);
  //   width: 100%;
  //   color: $color-primary;
  // }

  &__link {
    display: flex;
    font-family: Poppins;
    font-size: 1.1rem;
    // letter-spacing: .1rem;
    font-weight: 500;
    // text-transform: uppercase;
    padding: 1rem 3rem;
    color: $color-grey-dark-2;
    transition: all 0.4s ease-out;
    position: relative;
    z-index: 10;

    &:hover {
      color: $color-primary;
    }
    &--active {
      color: $color-primary;
    }

    svg {
      color: inherit;
      vertical-align: middle;
      transform: scale(0.6);
    }

    span {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: capitalize;
      color: inherit;
      font-family: Poppins;
      margin-left: 1rem;
      align-self: center;
      position: relative;
      z-index: 10;
    }
  }
  &__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;

    background-color: $color-grey-blue;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  }
  &__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-color: transparent;
    transition: background-color 0.4s 0.6s;
  }

  // &__link:hover::before,
  &__link--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  // &__link:hover::after,
  &__link--active::after {
    transform: scaleY(1);
    background-color: $color-primary-light;
  }
}
