.action {
  position: relative;
  width: 60rem;
  min-height: 20rem;
  background-color: $color-white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  z-index: 2000;
  animation: modalOut 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s 0.2s;
  overflow: hidden;

  &__heading {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    background-color: $color-grey-light-1;
  }

  &__information {
    margin-right: auto;
    p {
      font-weight: 300;
      font-size: 1.6rem;
      text-transform: capitalize;
      color: $color-grey-dark-3;
    }
  }

  &__close {
    align-self: stretch;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    transition: background-color 0.3s ease-out;

    svg {
      color: $color-grey-dark-2;
      transition: color 0.3s ease-out;
    }

    &:hover {
      background-color: $color-grey-light-2;
      color: $color-grey-dark-3;
    }

    &:hover svg {
      color: $color-grey-dark-3;
    }
  }

  &__container {
    padding: 1rem 2rem;
  }

  &__paragraph {
    font-weight: 300;
    font-size: 1.2rem;
    color:   $color-grey-dark-3;
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;

  }

  &__cancel {
      margin-right: 2rem;
      width: 15rem;

  }

  &__publish {
    width: 15rem;
  }
}
