.activities {
  &__table {
    width: 100%;
  }

  &__table-header {
    background-color: $color-grey-light-1;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    width: 100%;

    div {
      font-family: Poppins;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $color-grey-dark-3;
      line-height: 1.2;
      font-weight: 500;
      padding-top: 1.9rem;
      padding-bottom: 1.9rem;
    }
  }

  &__table-event {
    width: 70%;
  }

  &__table-date {
    width: 30%;
  }

  &__table-name {
    font-size: 1.2rem;
    color: $color-black-light-2;
    line-height: 1.2;
    font-weight: 500;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    transition: all 0.4s ease-out;
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-2;
    }

    div {
      font-family: Poppins;
      font-size: 1.2rem;
      color: #666666;
      text-align: start;
      padding-top: 1rem;
      padding-bottom: 1rem;

      p {
      }
      span {
        color: $color-primary;
        transition: all 0.4s ease-out;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    // &:hover {
    //   background-color: #ececff;
    //   cursor: pointer;
    // }
  }
}
