.alert {
    display: inline-block;
    min-height: 5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    
  &--danger {
    color: #ff5100;
    border: .5px solid #ff5100;
    border-radius: .4rem;
    background-color: #f1ebe8;
    
    p{
        color: inherit;
        font-size: 1.2rem;
        font-weight: 400;
    }
  }

  &--info {
  }
}
