.badge {
  
  display: inline-block;
  color: white !important;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  padding: 0.1rem 1rem;
  border-radius: .4rem;

  &__green {
    background-color: $color-green-1;
  }

  &__orange {
    background-color: $color-warning;
  }

  &__red {
    background-color: $color-danger;
  }

  &__grey {
    background-color: $color-grey-light-3;
  }

  &__blue {
    background-color: $color-tertiary-light;
  }
}
