.btn {
  &,
  &:link,
  &:visited {
    font-family: Poppins;
    text-decoration: none;
    text-transform: initial;
    display: inline-block;
    // border-radius: 0.4rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    transition: all 0.4s ease-out;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    // transform: translateY(-3px);
    // box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    // transform: translateY(-1px);
    // box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-primary;
    padding: 1rem 2rem;
    box-shadow: 0 0.1rem 0.5rem rgba($color-black, 0.15);
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
  &--white-border {
    border: 1px solid $color-white;
    color: $color-white;
    padding: 1rem 2rem;
  }

  &--blue {
    background-color: $color-primary-light;
    color: $color-white;
    padding: 1rem 2rem;
    box-shadow: 0 0.1rem 0.5rem rgba($color-black, 0.15);

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--blue-border {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    padding: 1rem 2rem;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--blue-text {
    background-color: transparent;
    color: $color-primary;
    padding: 1rem 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &--blue-grey {
    background-color: transparent;
    border: 1px solid $color-grey-dark-2;
    color: $color-grey-dark-2;
    padding: 1rem 2rem;

    &:hover {
      background-color: $color-grey-dark-2;
      color: $color-white;
    }
  }

  &--blue-grey-disabled {
    background-color: transparent;
    border: 1px solid $color-grey-dark-2;
    color: $color-grey-dark-2;
    padding: 1rem 2rem;
    opacity: 0.5;

  }

  &--green {
    background-color: $color-green-1;
    color: $color-white;
    padding: 1rem 2rem;
    box-shadow: 0 0.1rem 0.5rem rgba($color-black, 0.15);

    &:hover {
      background-color: $color-green;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

}

.btn-text {
  &,
  &:link,
  &:visited {
    border: none;
    font-family: inherit;
    background-color: inherit;
    font-size: 1.4rem;
    color: $color-primary-dark;
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 2rem;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    color: $color-primary-dark;
  }

  &:active {
    transform: translateY(-0.1rem);
  }
  &:focus {
    border: none;
    outline: none;
  }
}
