.card-product {
  margin-left: 2rem;
  margin-top: 2rem;
  height: 10rem;
  display: flex;
  width: 40rem;
  border: 1px solid $color-grey-light-3;
  border-radius: 0.4rem;
  overflow: hidden;
  //   background-color: $color-white;

  &__item-1 {
  }

  &__item-2 {
  }

  img {
    height: 100%;
  }

  .item-image {
    width: 10rem;
    border-right: 1px solid $color-grey-light-3;
  }

  .item-contents {
    position: relative;
    padding: 1rem;
    width: 100%;
    background-color: $color-grey-blue-1;

    svg {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: 0.4rem;
      transition: all 0.4s ease-out;
      &:hover {
        background-color: $color-grey-light-3;
        cursor: pointer;
      }
    }
  }
}
