.card {
    width: 100%;
    max-height: 20rem;
    background-color: $color-white;
    // border-radius: .5rem;
    padding: 2rem 2rem 1rem 2rem;
 

&__title-box {

}
&__title {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: $color-grey-dark;
    font-weight: 500;
    
}
&__value-box {
 
}
&__value {
    font-size: 2rem;
    font-weight: 500;
    color: $color-black-light-2;
}

&__footer {
    margin-top: 2rem;
   p {
      
   }
}

&__link {
    font-size: 1.4rem;
    color: blue;
    &:hover {
        cursor: pointer;
    }
}

&--shadow {
    box-shadow: 0 .2rem .2rem rgba($color-black, 0.1);
}

&--border {
    border: 1px solid $color-grey-light-3;
}

}