.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;

  svg {
    color: $color-grey-dark-2;
    padding: .5rem;
    // background-color: pink;
    vertical-align: middle;
    border-radius: .4rem;
    transform: scale(1.2);
    transition: all .4s ease-out;
  }

  &__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    p {
      padding: 1.2rem 1.6rem;
      text-decoration: none;
      display: block;
      color: $color-grey-dark-2;
      transition: all .4s ease-out;
      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
    }
  }

  &:hover &__content {
    display: block;

  }
  &:hover svg {
    background-color: $color-grey-light-3;
    cursor: pointer;

  }
}
