.filter {
  display: flex;

  &__box {
      display: flex;
      input {
        &:not(:last-child) {
            margin-right: 2rem;
          }
      }
  }

  &__item {
    flex: 1;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__buttons {
    width: 100%;
    margin-top: 1rem;
    display: flex;
  }
  &__clear {
    flex: 1;
  }
  &__search {
    flex: 2;
    margin-left: 1rem;
  }
}
