.form {
  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 400;
    color: $color-grey-dark-3;
    padding: 1rem 2rem;
    border: 1px solid $color-grey-light-3;
    border-radius: .4rem;
    width: 100%;
    height: 4rem;
    display: block;
    outline: none;
    transition: all 0.3s;
    &:focus {
      outline: none;
      border: 1px solid $color-primary;
    }

    &:focus:invalid {
      border: 1px solid $color-warning;
    }

    &::placeholder {
      color: $color-grey-light-3;
      font-weight: 400;
      font-size: 1.2rem;
      text-transform: lowercase;
      opacity: 1
    }

    &::-webkit-input-placeholder {
      color: $color-grey-light-3;
      font-weight: 400;
      font-size: 1.2rem;
      text-transform: lowercase;
      opacity: 1
    }

    &--dark {
      background-color: rgba($color-black, 0.2);
    }
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    color: $color-grey-dark-3;
  }

  &__select {
    padding: 1rem 2rem;
    border: 1px solid $color-grey-light-3;
    background-color: white;
    border-radius: 0.4rem;
    width: 100%;
    height: 4rem;
    display: block;
    outline: none;
    select {
      border: none;
      width: 100%;
      font-size: 1.4rem;
      font-family: inherit;
      font-weight: 300;
      color: $color-grey-dark-2;
      background-color: transparent;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  &__error-box {
   height: 2rem;
  }

  &__error {
    color: red;
    margin-left: 2rem;
    font-size: 1.2rem;
  }

  &__option-box {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__minus {
    svg {
      color: $color-grey-dark-2;
      padding: 0.5rem;
      vertical-align: middle;
      border-radius: 0.4rem;
      transform: scale(1.2);
      transition: all 0.4s ease-out;
    }

    // &:hover {
    //   cursor: pointer;
    // }

    &:hover svg {
      background-color: $color-grey-light-3;
      cursor: pointer;
    }
  }

  &__plus {
    &:hover {
      cursor: pointer;
    }
    svg {
      color: $color-grey-dark-2;
      padding: 0.5rem;
      vertical-align: middle;
      border-radius: 0.4rem;
      transform: scale(1.2);
      transition: all 0.4s ease-out;
    }

    &:hover svg {
      background-color: $color-grey-light-3;
      cursor: pointer;
    }
  }
}
