.icon {
  &-green {
    transform: scale(0.7);
    color: green;
    // border: 1px solid green;
    // border-radius: 4px;
  }
  &-red {
    transform: scale(0.7);
    color: red;
    // border: 1px solid red;
    // border-radius: 4px;
  }
}
