.modal {
  position: relative;
  width: 90%;
  min-height: 90%;
  background-color: $color-white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  z-index: 2000;
  animation: modalOut 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s 0.2s;
  overflow: hidden;
  padding: 2rem;

  &__heading {
    display: flex;
    padding-bottom: 1rem;
    align-items: flex-end;
    background-color: $color-grey-light-1;
  }

  &__information {
    margin-right: auto;
    h2 {
      font-weight: 500;
      font-size: 2rem;
      text-transform: capitalize;
      color: $color-grey-dark-3;
    }
  }

  &__close {
    width: 4rem;
    height: 4rem;
    align-self: stretch;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    transition: background-color 0.3s ease-out;

    svg {
      color: $color-grey-dark-2;
      transition: color 0.3s ease-out;
    }

    &:hover {

      background-color: $color-grey-light-2;
      color: $color-grey-dark-3;
    }

    &:hover svg {
      color: $color-grey-dark-3;
    }
  }

  &__container {
    margin-top: 3rem;
  }

  &__step {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }
  &__select {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4rem;
    justify-items: space-around;
  }
  &__option {
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid $color-grey-light-3;
    border-radius: .5rem;
    transition: all 0.3s ease-out;

    svg {
      transform: scale(0.4);
      fill: currentColor;
    }

    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }

    p {
      position: absolute;
      bottom: 0;
      font-size: 1.3rem;
      font-weight: 500;
      color: $color-grey-dark-3;
    }
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__option-checked {
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid $color-grey-light-3;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
    transition: all 0.3s ease-out;

    svg {
      transform: scale(0.4);
    }

    p {
      position: absolute;
      bottom: 0;
      font-size: 1.3rem;
      font-weight: 500;
      color: $color-grey-dark-3;
    }
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    color: $color-grey-dark-3;
    text-transform: capitalize;
    display: flex;
    margin-right: auto;
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }
  &__grid {
    width: 70%;
    padding: 2rem;
    display: grid;
    // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  &__features {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__client {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2rem;
  }

  &__client-name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  &__surname {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }
  &__gender {
    grid-column: 9 / 11;
    grid-row: 1 / 2;
  }
  &__client-title {
    grid-column: 1 /3;
    grid-row: 2 / 3;
  }
  &__dob {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
  }
  &__marital {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
  }
  &__id {
    grid-column: 6 / 10;
    grid-row: 2 / 3;
  }
  &__passport {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  &__drivers {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
  }
  &__phone {
    grid-column: 7 / 10;
    grid-row: 3 / 4;
  }
  &__email {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  &__address {
    grid-column: 4 / 10;
    grid-row: 4 / 5;
  }

  &__claiment-name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  &__claiment-surname {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }
  &__claiment-title {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
  }
  &__claiment-dob {
    grid-column: 9 / 11;
    grid-row: 1 / 2;
  }
  &__claiment-id {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  &__claiment-passport {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }
  &__claiment-phone {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
  }
  &__claiment-email {
    grid-column: 7 / 11;
    grid-row: 2 / 3;
  }
  &__claiment-address {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
  &__claiment-relationship {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
  }

  &__fun-fill {
    margin-top: 4rem;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  &__bank-holder {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  &__bank-name {
    grid-column: 4 / 9;
    grid-row: 1 / 2;
  }

  &__bank-account {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  &__bank-type {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
  }

  &__bank-branch {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  &__bank-code {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  &__review {
    display: flex;
    flex-direction: column;
  }
  &__review-grid {
    display: grid;
    // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  &__title {
    font-size: 1.4rem;
    color: $color-grey-dark-2;
  }

  &__item {
    // background-color: white;

    span {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-grey-dark-3;
    }
  }

  &__submit-btn {
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 8rem;
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2rem 2rem 2rem;
    display: flex;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  &__back {
    width: 10rem;
  }

  &__next {
    width: 10rem;
    margin-left: 2rem;
  }

  &__table {
    width: 100%;
    margin-top: 2rem;
  }

  &__table-header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      font-family: Poppins;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $color-grey-dark-3;
      line-height: 1.2;
      font-weight: 500;
      padding-top: 1.9rem;
      padding-bottom: 1.9rem;
    }
  }

  &__table-cell {
    width: 20%;
  }
  &__table-cell--check {
    width: 5rem;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid $color-grey-light-3;
    transition: all 0.4s ease-out;
    &:last-child {
      border-bottom: 1px solid $color-grey-light-3;
    }

    div {
      font-family: Poppins;
      font-size: 1.2rem;
      color: #666666;
      // line-height: 1.2;
      padding-top: 1rem;
      padding-bottom: 1rem;
      // border-bottom: 1px solid #f2f2f2;
      // border-top: 1px solid #f2f2f2;
    }

    &:hover {
      background-color: #ececff;
      cursor: pointer;
    }

  }

  &__dependents {
    display: flex;
    flex-direction: row;
  }

  &__dependents-add {
    flex: 3;
  }

  &__dependents-form {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1rem;
    margin-right: 2rem;
  }

  &__dependents-btn {
    margin-top: 2rem;
    width: 20rem;
  }

  &__no-dependents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;

    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;
    }
    span {
      margin-top: 1.5rem;
      font-size: 1.2rem;
      color: $color-grey-dark-3;
    }
  }

  &__dependents-list {
    flex: 2;
    // background-color: pink;
  }

  &__dpt-name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  &__dpt-surname {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
  }
  &__dpt-gender {
    grid-column: 8 / 10;
    grid-row: 1 / 2;
  }
  &__dpt-title {
    grid-column: 1 /3;
    grid-row: 2 / 3;
  }
  &__dpt-marital {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
  }
  &__dpt-dob {
    grid-column: 6 / 10;
    grid-row: 2 / 3;
  }

  &__dpt-id {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  &__dpt-passport {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
  }
  &__dpt-drivers {
    grid-column: 7 / 10;
    grid-row: 3 / 4;
  }
  &__dpt-phone {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }
  &__dpt-email {
    grid-column: 5 / 10;
    grid-row: 4 / 5;
  }
  &__dpt-address {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }

  &__occupation {
    grid-column: 4 / 6;
    grid-row: 5 / 6;
  }

  &__dpt-relationship {
    grid-column: 6 / 10;
    grid-row: 5 / 6;
  }

  &__dpt-card {
    position: relative;
    height: 9rem;
    // border: 1px solid $color-grey-light-3;
    // background-color: $color-grey-light-1;
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: black;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__dept-options {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
  }

  &__dept-more {
    font-size: 1.2rem;
    font-weight: 400;
    color: blue !important;
    margin-right: 2rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__dept-remove {
    font-size: 1.2rem;
    font-weight: 400;
    color: red !important;
    &:hover {
      cursor: pointer;
    }

  }


}
