.loader {

    &__header{
        font-size: 2.4rem;
        font-weight: 300;
        margin-bottom: 2rem;
      }
      &__content{
        font-size: 1.4rem;
        line-height: 2.7rem;
        margin-bottom: 3rem;
      }
      &__actions{
        
      }
      &__actions a{
        box-sizing: border-box;
        padding: 1.2rem 2.4rem;
        margin: 0 .8rem;
        line-height: 2rem;
        background: #FFF;
        display: inline-block;
        font-family: 'Lato';
        border: 1px solid #ccc;
        color: #666;
        text-decoration: none;
        border-radius: 2.5rem;
      }
      &__actions &__success{
        border: 1px solid #239647;
        color: #239647;
      }
      
      &__modal{
        width: 50rem;
        padding: 3.5rem 2.5rem;
        background: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: .4rem;
        overflow: hidden;
      }
      &__modal &__loader-bar{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        border-radius: 1rem;
        overflow: hidden;
        opacity: 0.99;
      }
      &__modal &__loader-bar &__bar{
        position: absolute;
        bottom: 0;
        width: 8rem;
        height: .4rem;
        background: $color-primary-light;
        animation: exordo-loader 3s ease infinite;
        border-radius: .3rem;
        transform-origin: 50% 50%;
      }
      @keyframes exordo-loader {
        0%  {
          transform: translateX(0);
        }
        50% {
          transform: translateX(48rem);
        }
        100% {
          transform: translateX(0);
        }
      }

}



