.fade-appear {
    opacity: 0;
    // transform: translateX(100%);
  }
  .fade-appear .fade-appear-active {
    opacity: 1;
    // transform: translateX(0);
    transition: opacity 300ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    // transform: translateX(100%);
    transition: opacity 300ms;
  }


.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.7);
    // backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: overlayOut .4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: background-color .4s ease-out;
    z-index: 1000;
}

.overlay--1 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  // backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}