.slide-appear {
  animation-name: slideInRight;
  animation-duration: 0.7s;
  // animation-timing-function: ease-out;
}
.slide-appear .slide-appear-active {
  opacity: 1;
  transform: translateX(0%);
}
.slide-exit {
  opacity: 1;
  animation-name: slideOutRight;
}
.slide-exit .slide-exit-active {
  opacity: 0;
}

.panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  padding: 1rem;
  background-color: $color-grey-blue;
  z-index: 5000;
  // animation-name: slideInRight;
  // animation-duration: 0.4s;
  // animation-timing-function: ease-out;
  &__close {
    position: absolute;
    left: -5rem;
    top: 2rem;

    svg {
      background-color: $color-grey-light-2;
      border-radius: 50%;
      padding: 0.5rem;
      transform: scale(1.2);
      transition: transform 0.4s ease-out;
    }
  }
  &__close:hover {
    cursor: pointer;
    svg {
      transform: scale(1.4);
    }
  }
  &__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  &__img-box {
    border-radius: 0.4rem;
    overflow: hidden;
    margin-bottom: 2rem;
    height: 25rem;
    img {
      height: 25rem;;
    }
  }

  &__details {
    display: grid;
    // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  &__heading {
    font-size: 1.4rem;
    color: $color-grey-dark-2;
  }

  &__name {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    margin-right: auto;
  }

  &__item {
    // background-color: white;

    span {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-grey-dark-3;
    }
  }

  &__block {
    display: flex;
  }
  &__block--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    flex: 1;

    margin-left: 1rem;
  }
  &__item--2 {
    flex: 2;

    margin-left: 1rem;
  }
}
