.pointer {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transform: scale(2);
    }

    &__text {
        margin-left: 2rem;
        font-size: 2.4rem;
        font-weight: 300;

    }
}