.progress {

  

  &__item {
    // background-color: white;
    padding: 2rem 2rem;
    display: flex;
    justify-content: flex-end;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__container {
    // background-color: orangered;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 3;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    color: $color-grey-dark-3;
  }
  &__detail {
    font-size: 1.2rem;
    font-weight: 400;
  }
  &__icon-box {
    align-self: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      width: 2.9rem;
      height: 2.9rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-grey-dark;

      border: 1px solid $color-grey-dark;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    svg {
      padding: 5px;
      border: 1px solid green;
      border-radius: 50%;
      overflow: hidden;
      transform: scale(1.2);
    }
  }
}
