.registration {
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__step {
    font-size: 1.6rem;
  }

  &__title {
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-black;
    text-transform: capitalize;
    margin-right: auto;
  }
  &__title--1 {
    font-weight: 300;
    font-size: 1.6rem;
    color: $color-grey-dark-3;

    span {

    }

  }

  &__form {
    display: flex;
  }

  &__image-uploader {
    margin-top: 2rem;
  }

  &__photo-box {
    height: 10rem;
    width: 20rem;
    background-color: $color-grey-dark-2;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: $color-grey-light-1;
      font-size: 1.2rem;
    }
  }


  &__item {

  }
  &__item--2 {

  }
  &__item--center {
    flex: 1;
    margin: 3rem 10rem;
  }
  &__item--flex {
    flex: 1;
    margin: 3rem 10rem;
  }

  &__button-box {
    position: absolute;
    right: 6rem;
    bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  &__button {
    width: 10rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__edit-box {
    position: absolute;
    right: 50%;
    bottom: 2rem;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
  }
  &__edit-button {
    width: 15rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__review {
    display: flex;
    flex-direction: column;
  }

  &__info {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__flex {
    display: flex;
    margin-bottom: 2rem;
  }

  &__flex--1 {
    display: flex;
    justify-content: space-between;
  }

  &__image-box {
    flex: 2;
    overflow: hidden;
    margin-right: 4rem;

    p {
      font-size: 1.3rem;
      color: $color-grey-dark-2;
    }

    img {
      width: 100%;
    }
  }
  &__details {
    flex: 5;

    display: grid;
    // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  &__heading {
    font-size: 1.3rem;
    color: $color-grey-dark-2;
  }

  &__name {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    margin-right: auto;
  }

  &__item--grid {
    // background-color: white;

    span {
      display: block;
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-grey-dark-3;
    }
  }

  &__review-header {
    display: flex;
    padding-right: 2rem;
    h3 {
      font-size: 1.4rem;
      font-weight: 300;
      text-transform: uppercase;
      flex: 1;
    }
    svg {
      transition: all 0.3s ease-out;

      &:hover {
        cursor: pointer;
        color: $color-primary;
      }
    }
  }

  &__review-details {
    margin-top: 1rem;
    display: flex;
    p {
      font-size: 1.2rem;
      font-weight: 500;
      flex: 1;
    }
  }

  &__success {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 4rem;
      font-weight: 300;
      text-transform: capitalize;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.4rem;
      font-weight: 300;
    }
    &-button {
      margin-top: 2rem;
      width: 30rem;
    }
  }

  &__grid {
    display: grid;
    // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  &__grid--1 {
    display: grid;
    // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

  }
}


.avatar-uploader > .ant-upload {
  width: 25rem !important;
  height: 128px;
}
