.search {
  position: relative;
  width: 90%;
  min-height: 90%;
  background-color: $color-white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  z-index: 2000;
  animation: modalOut 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s 0.2s;
  overflow: hidden;
  padding: 2rem;

  &__content {
    padding: 2rem;
  }
  &__selectors{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }

  &__item {

  }
  &__label {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: $color-grey-dark-3;

  }

  &__row {
    width: 100%;
    padding: 1rem 0;
  }

  &__status {
    width: 100%;
    margin-top: 4rem;
  }

  &__radios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4rem;
    justify-items: space-around;
  }

  &__radio-box {
    display: flex;
    align-items: center;

    input {

    }

    span {
      font-size: 1.2rem;
      font-weight: 300;
      color: $color-black-light-2;
      text-transform: capitalize;
      margin-left: 1rem;
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    padding: 0 2rem 1rem 2rem;
  }

  &__remember {
    margin-right: auto;
    display: flex;
    align-items: center;

    input {
    }
    p {
      font-size: 1.4rem;
      font-weight: 500;
      margin-left: 1rem;
    }
  }

  &__btns {
    display: flex;

    button {
      width: 15rem;
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}
