.filter {

    &__control {
      }


    &__placeholder {
      font-size: 1.2rem;
    }

    &__single-value {
        font-size: 1.2rem;
      }

      &__options {
        font-size: 2rem; 
      }
  

  }