.loader {
  &__container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
  }

  &__message {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-transform: initial;
  }
}

.loading {
  display: flex;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #dddddd;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
