.sub-navigation {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $color-grey-light-3;

  &__list {
    display: flex;
    margin-top: 2rem;
    margin-right: auto;
  }

  &__item {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    // padding-bottom: 0.5rem;
    color: $color-grey-dark-2;
    transition: all 0.3s ease-out;

    &:not(:last-child) {
      margin-right: 4rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      width: 0%;
      height: 2px;
      visibility: hidden;
      background-color: $color-primary-light;
      transition: width 0.3s ease-out;
    }

    &:hover {
      cursor: pointer;
      color: $color-black-light-2;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        visibility: visible;
        background-color: $color-primary-light;
      }
    }
    &--active {
      color: $color-black-light-2;
    }

    &--active::before {
      content: "";
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      width: 100%;
      height: 2px;
      visibility: visible;
      background-color: $color-primary-light;
    }
  }

  &__list-right {
    display: flex;
    height: 100%;
    margin-right: 2rem;
  }

  &__item-right {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    height: 100%;
    color: $color-primary;

    &:not(:last-child) {
      margin-right: 3rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0%;
      height: 2px;
      visibility: hidden;
      background-color: $color-primary-light;
      transition: width 0.3s ease-out;
    }

    &:hover {
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        visibility: visible;
        background-color: $color-primary-light;
      }
    }

    &--active::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      visibility: visible;
      background-color: $color-primary-light;
    }
  }
}
