.success {
  width: 100%;
  height: 40rem;


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid $color-green;
    border-radius: 50%;

    svg {
      color: $color-green;
    }
  }

  &__heading {
    margin-top: 1rem;
    font-size: 2.4rem;
    font-weight: 400;
  }

  &__paragraph {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__options {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__option {
      width: 15rem;
      &:not(:first-child) {
          margin-left: 2rem;
      }
  }
}
