.table {
  width: 100%;
  display: table;
  margin-top: 2rem;


  &__heading {
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-grey-light-3;
    align-items: flex-end;
  }

  &__information {
    margin-right: auto;
    h2 {
      font-weight: 500;
      font-size: 1.8rem;
      text-transform: capitalize;
      color: $color-grey-dark-3;
    }

    p {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }

  &__options {
    display: flex;

    button {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__limiter {
    width: 100%;
    padding: 2rem 0;
    background-color: white;
  }

  &__wrapper {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__header {
    background: #ffffff;
    display: table-row;
    width: 100%;

    div {
      font-family: Poppins;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: $color-grey-dark-3;
      line-height: 1.2;
      font-weight: 500;

      padding-top: 1.9rem;
      padding-bottom: 1.9rem;
    }

    .table__cell:nth-child(1) {
      width: 360px;
      // padding-left: 40px;
    }

    .table__cell:nth-child(2) {
      width: 160px;
    }

    .table__cell:nth-child(3) {
      width: 250px;
    }

    .table__cell:nth-child(4) {
      width: 190px;
    }
  }

  &__cell {
    display: table-cell;
  }

  &__row {
    display: table-row;
    // background: #fff;
    background: pink;
    width: 100%;
    div {
      font-family: Poppins;
      font-size: 1.2rem;
      color: #666666;
      // line-height: 1.2;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #f2f2f2;
    }

    .table__cell:nth-child(1) {
      width: 360px;
      // padding-left: 40px;
    }

    .table__cell:nth-child(2) {
      width: 160px;
    }

    .table__cell:nth-child(3) {
      width: 250px;
    }

    .table__cell:nth-child(4) {
      width: 190px;
    }

    &:hover {
      background-color: #ececff;
      cursor: pointer;
    }
  }

  &__limiter {
  }
}

// @media screen and (max-width: 768px) {
//   .table {
//     display: block;
//   }
// }

// @media screen and (max-width: 768px) {
//   .row {
//     display: block;
//   }

//   .row.header1 {
//     padding: 0;
//     height: 0px;
//   }

//   .row.header1 .cell {
//     display: none;
//     color: #666666;
//   }

//   .row .cell:before {
//     font-family: Poppins-Bold;
//     font-size: 12px;
//     color: #808080;
//     line-height: 1.2;
//     text-transform: uppercase;
//     font-weight: unset !important;

//     margin-bottom: 13px;
//     content: attr(data-title);
//     min-width: 98px;
//     display: block;
//   }
// }

// @media screen and (max-width: 768px) {
//   .cell {
//     display: block;
//   }
// }

.table,
.row {
  width: 100% !important;
}

// @media (max-width: 768px) {
//   .row {
//     border-bottom: 1px solid #f2f2f2;
//     padding-bottom: 18px;
//     padding-top: 30px;
//     padding-right: 15px;
//     margin: 0;
//   }

//   .row .cell {
//     border: none;
//     padding-left: 30px;
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
//   .row .cell:nth-child(1) {
//     padding-left: 30px;
//   }

//   .row .cell {
//     font-family: Poppins-Regular;
//     font-size: 18px;
//     color: #555555;
//     line-height: 1.2;
//     font-weight: unset !important;
//   }

//   .table, .row, .cell {
//     width: 100% !important;
//   }
// }
