.Card {
  background-color: white;
  padding: 32px;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

//   Dropzone
.Dropzone {
  height: 10rem;
  width: 100%;
  border: 1px dashed rgb(187, 186, 186);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.Highlight {
  background-color: $color-grey-blue-1;
}

.Icon {
  opacity: 0.3;
  height: 2rem;
  width: 2rem;
}

.FileInput {
  display: none;
}

// Upload
.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  // background-color: pink;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Files {
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
  margin-top: 2rem;
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
}

.Title {
  margin-bottom: 32px;
  color: #555;
}

.Filename {
  font-size: 1.2rem;
  color: #555;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  overflow: hidden;
  box-sizing: border-box;
}

.ProgressWrapper {
  display: flex;
  align-items: center;
}

.ProgressBar {
  width: 100%;
  height: 0.4rem;
  background-color: rgb(183, 155, 229);
  border-radius: 0.5rem;
}
.DeleteIcon {
  margin-left: 1rem;
  svg {
    height: 100%;
    padding: 0.3rem;
    color: $color-danger;
    border-radius: 50%;
    border: 1px solid $color-danger;
    transform: scale(0.8);
  }
}

.Progress {
  background-color: $color-primary-light;
  height: 100%;
  margin: 0;
  border-radius: 0.5rem;
}
