.uploader {
  &__dropzone {
    height: 10rem;
    width: 100%;
    border: 1px dashed rgb(187, 186, 186);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
  }

  &__images {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  &__btn-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: .5rem .5rem;

    div {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        background-color: $color-grey-light-2;
        opacity: .5;
        svg {
          padding: 0.2rem;
        }
    
        &:hover {
          cursor: pointer;
        }
      }
  }

}
