// COLORS
$color-primary: #0000ff;
$color-primary-light: #6262ff;
$color-primary-dark: #0000c4;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-success: green;
$color-warning: orange;
$color-danger: #D11A2A;


$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-green: #28b485;
$color-green-1: #66bb6a;

$color-grey-blue: #eaf1f8;
$color-grey-blue-1: #f9fbfd;
// $color-grey-light-1: #f7f7f7;
$color-grey-light-1: #eee;
$color-grey-light-2: #eee;
$color-grey-light-3: #a3a3a3;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


$color-black-light: #5c5b5b;
$color-black-light-2: #262626;



// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 1rem;