.account {
  position: relative;
  width: 100%;
  min-height: 20rem;
  background-color: white;
  // border-radius: 0.5rem;
  // box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.1);
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  &__container {
    width: 100%;
    background-color: white;
    box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.1);
    min-height: 30rem;
    margin-bottom: 2rem;
  }

  &__nav {
    width: 100%;
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-grey-light-3;
  }

  &__nav-list {
    display: flex;
    margin-top: 2rem;
    margin-right: auto;
  }

  &__nav-item {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 2rem;
    color: $color-grey-dark-2;
    transition: all 0.3s ease-out;

    &:not(:last-child) {
      margin-right: 4rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -1.2rem;
      left: 0;
      width: 100%;
      height: 2px;
      visibility: hidden;
      background-color: $color-primary-light;
      transition: all 0.3s ease-out;
    }

    &:hover {
      cursor: pointer;
      color: $color-black-light-2;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   width: 100%;
      //   visibility: visible;
      //   background-color: $color-primary-light;
      // }
    }
    &--active {
      color: $color-black-light-2;
    }

    &--active::before {
      content: "";
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      width: 100%;
      height: 2px;
      visibility: visible;
      background-color: $color-primary-light;
    }
  }

  &__nav-item--active {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 2rem;
    color: $color-black-light-2;
    transition: all 0.3s ease-out;

    &:not(:last-child) {
      margin-right: 4rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -1.2rem;
      left: 0;
      width: 100%;
      height: 2px;
      visibility: visible;
      background-color: $color-primary-light;
      transition: width 0.3s ease-out;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $color-grey-light-1;
    padding: 2rem 2rem 2rem 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 300;
    color: $color-grey-dark-3;
    width: 20rem;
    margin-right: auto;

    span {
      font-size: 1.4rem;
      margin-left: 1rem;
    }
  }

  &__options {
    display: flex;
    justify-content: right;
    background-color: $color-grey-light-1;
    // padding: 0 2rem 2rem 2rem;

    div {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &__heading {
    border-bottom: 1px solid $color-grey-light-3;
    padding: 1rem 2rem;
    h3 {
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-grey-dark-3;
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-2;
    }
  }

  &__client {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    padding: 0 2rem;
  }

  &__item {
    p {
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: capitalize;
      color: $color-grey-dark-3;
    }

    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-2;
    }
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: $color-grey-dark-3;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  &__section {
    margin-top: 2rem;
    padding: 0 2rem;

    p {
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: capitalize;
      color: $color-grey-dark-3;
    }
  }

  &__docs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
  }

  &__doc {
    width: 10rem;
    height: 10rem;

    img {
      width: 10rem;
      height: 10rem;
    }
  }

  &__attach-container {
    padding: 0 2rem 2rem 2rem;
  }
  &__attachments-box {
    border: 1px solid $color-grey-light-3;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__attachments {
    width: 100%;

    display: flex;
    padding: 0.5rem 2rem;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-3;
    }
  }

  &__file {
    display: flex;
    margin-right: auto;

    svg {
      color: $color-grey-dark-2;
      padding: 0.4rem;
    }

    p {
      margin-left: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-grey-dark-3;
    }
  }

  &__download {
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-primary-light;

    &:hover {
      cursor: pointer;
    }
  }

  &__no-policies {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    p {
      font-size: 1.6rem;
      text-transform: capitalize;
    }
    span {
      font-size: 1.2rem;
      text-transform: lowercase;
    }
  }
  &__table {
    width: 100%;
    // margin-top: 2rem;
  }

  &__table-header {
    background-color: $color-grey-light-1;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    width: 100%;

    div {
      font-family: Poppins;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $color-grey-dark-3;
      line-height: 1.2;
      font-weight: 500;
      padding-top: 1.9rem;
      padding-bottom: 1.9rem;
    }
  }

  &__table-cell {
    width: 20%;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid $color-grey-light-3;
    padding: 0 2rem;
    transition: all 0.4s ease-out;
    &:last-child {
      border-bottom: 1px solid $color-grey-light-3;
    }

    div {
      font-family: Poppins;
      font-size: 1.2rem;
      color: #666666;
      // line-height: 1.2;
      padding-top: 1rem;
      padding-bottom: 1rem;
      // border-bottom: 1px solid #f2f2f2;
      // border-top: 1px solid #f2f2f2;
    }

    &:hover {
      // background-color: #ececff;
      cursor: pointer;
    }
    &:active {
      height: 10rem;
    }
  }

  &__policy-info {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  &__status {
    flex: 1;
  }

  &__policy {
    flex: 4;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  &__dependents {
    padding: 2rem;
  }
}
