.casket {
  &__info {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  &__status {
    flex: 1;
  }

  &__details {
    flex: 4;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  &__item {
    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-2;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-3;
    }
  }
  &__descr {
    margin-top: 2rem;
    padding: 0 2rem;
    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-2;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-3;
    }
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    color: $color-grey-dark-3;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  &__images {
    margin-left: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  &__image-box {
    width: 10rem;
    height: 10rem;
    overflow: hidden;

    img {
      width: 10rem;
      height: 10rem;
    }
  }

  &__information {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  &__review {
  }

  &__about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }

  &__about-name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-2;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-3;
    }
  }

  &__about-quantity {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-2;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-3;
    }
  }

  &__about-description {
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-2;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-grey-dark-3;
    }
  }

  &__image-heading {
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-grey-dark-2;
    margin-top: 2rem;
  }

  &__images-review {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
  }

  &__image-box {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    img {
      width: 10rem;
      height: 10rem;
    }
  }
}
