.claims {


    width: 100%;
    min-height: 40rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.1);
    padding: 2rem;
  
    &__heading {
      font-size: 2.9rem;
      font-weight: 300;
    }
  
    &__header {
      width: 100%;
      display: flex;
      background-color: $color-grey-light-1;
      padding: 2rem 2rem 0rem 2rem;
    }
  
    &__title {
      font-size: 2rem;
      font-weight: 300;
      color: $color-grey-dark-3;
      margin-right: auto;
  
      span {
        font-size: 1.4rem;
        margin-left: 1rem;
      }
    }
    &__options {
      display: flex;
      div {
        margin-right: 1rem;
      }
    }
  
    &__filter {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 1rem 2rem 1rem 2rem;
      background-color: $color-grey-light-1;
    }
  
    &__search-box {
      display: flex;
      width: 50rem;
      button {
        background-color: $color-primary-light;
        color: $color-white;
        padding: 0 1rem;
        width: 30%;
      }
    }
  
    &__settings {
      display: flex;
      align-items: center;
      align-self: center;
      margin-left: 2rem;
      svg {
        padding: 0.2rem;
        color: #666666;
      }
  
      &:hover {
        cursor: pointer;
      }
    }
    &__pagination {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: space-between;
      width: 30rem;
      margin-left: auto;
      margin-right: 2rem;
    }
  
    &__previous {
      display: flex;
      align-items: center;
      align-self: center;
      transform: rotate(180deg);
    }
  
    &__page {
      font-size: 1.4rem;
      font-weight: 500;
    }
  
    &__next {
      display: flex;
      align-items: center;
      align-self: center;
    }
  
    &__container {
      width: 100%;
      background-color: white;
      box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.1);
      min-height: 30rem;
      // padding: 2rem;
    }
  
    &__table {
      width: 100%;
    }
  
    &__table-header {
      background-color: $color-grey-light-1;
      display: flex;
      padding: 0 2rem;
      justify-content: space-between;
      width: 100%;
  
      div {
        font-family: Poppins;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-grey-dark-3;
        line-height: 1.2;
        font-weight: 500;
        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
      }
    }
  
    &__table-cell {
      width: 20%;
    }
  
    &__table-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-top: 1px solid $color-grey-light-3;
      padding: 0 2rem;
      transition: all 0.4s ease-out;
      &:last-child {
        border-bottom: 1px solid $color-grey-light-3;
      }
  
      div {
        font-family: Poppins;
        font-size: 1.2rem;
        color: #666666;
        // line-height: 1.2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        // border-bottom: 1px solid #f2f2f2;
        // border-top: 1px solid #f2f2f2;
      }
  
      &:hover {
        background-color: #ececff;
        cursor: pointer;
      }
    }
  
    &__no-accounts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 0;
      width: 100%;
      height: 14rem;
      p {
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-black;
      }
      span {
        font-size: 1.2rem;
        color: $color-grey-dark-3;
      }
      div {
        width: 20rem;
      }
    }
  
    &__modal {
      position: relative;
      width: 90%;
      min-height: 90%;
      background-color: $color-white;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
      z-index: 2000;
      animation: modalOut 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.5s 0.2s;
      overflow: hidden;
    }
  
    &__modal-header {
      width: 100%;
      display: flex;
      background-color: $color-grey-light-1;
      padding: 2rem;
  
    }
  
    &__modal-title {
      margin-right: auto;
      h2 {
        font-size: 2rem;
        font-weight: 300;
        color: $color-grey-dark-3;
        text-transform: capitalize;
        color: $color-grey-dark-3;
      }
    }
  
    &__close {
      width: 4rem;
      height: 4rem;
      align-self: stretch;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      justify-content: center;
      transition: background-color 0.3s ease-out;
  
      svg {
        color: $color-grey-dark-2;
        transition: color 0.3s ease-out;
      }
  
      &:hover {
  
        background-color: $color-grey-light-2;
        color: $color-grey-dark-3;
      }
  
      &:hover svg {
        color: $color-grey-dark-3;
      }
    }
  
    &__modal-container {
      width: 100%;
      padding: 2rem 2rem;
    }

    &__modal {
      position: relative;
      width: 90%;
      min-height: 90%;
      background-color: $color-white;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
      z-index: 2000;
      animation: modalOut 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.5s 0.2s;
      overflow: hidden;
      padding: 2rem;
    
    
   
    
    }

    &__claiment {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4rem;
    }
  
}