.company {
  &__logo {
    width: 15rem;
    overflow: hidden;
    img {
      width: 15rem;
    }
  }

  &__about {
    display: flex;
    flex-direction: row;
  }

  &__details {
    margin-left: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    justify-items: space-around;
  }

  &__insurance {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
  }

  &__insure--show {
    position: relative;
    width: 10rem;
    height: 10rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out;

    div {
      width: 100%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transform: scale(0.3);
      }
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 1rem 0;
      font-size: 1.3rem;
      font-weight: 400;
      color: $color-grey-dark-3;
    }
  }

  &__insure--hide {
    display: none;
  }
}
