.companies {

    &__modal {
        position: relative;
        width: 90%;
        min-height: 90%;
        background-color: $color-white;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
        z-index: 2000;
        animation: modalOut 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.5s 0.2s;
        overflow: hidden;
        padding: 2rem;
      }

    &__details {

    }

    &__contacts {
        
    }

    &__heading {
        display: flex;
        padding-bottom: 1rem;
        align-items: flex-end;
      }
    
      &__information {
        margin-right: auto;
        h2 {
          font-weight: 500;
          font-size: 2rem;
          text-transform: capitalize;
          color: $color-grey-dark-3;
        }
      }
    
      &__close {
        width: 4rem;
        height: 4rem;
        align-self: stretch;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        justify-content: center;
        transition: background-color 0.3s ease-out;
    
        svg {
          color: $color-grey-dark-2;
          transition: color 0.3s ease-out;
        }
    
        &:hover {
          background-color: $color-grey-light-2;
          color: $color-grey-dark-3;
        }
    
        &:hover svg {
          color: $color-grey-dark-3;
        }
      }
    
      &__container {
        margin-top: 3rem;
      }
      &__select {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 4rem;
        justify-items: space-around;
      }
      &__option {
        position: relative;
        width: 12rem;
        height: 12rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        border: 0.1rem solid $color-grey-light-3;
        border-radius: 0.5rem;
        transition: all 0.3s ease-out;
    
        div {
          width: 100%;
          height: 8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            transform: scale(0.3);
          }
        }
    
        p {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          padding: 1rem 0;
          font-size: 1.3rem;
          font-weight: 400;
          border-top: 0.1rem solid $color-grey-light-3;
          color: $color-grey-dark-3;
        }
        &:hover {
          background-color: $color-grey-light-1;
          cursor: pointer;
        }
    
        &:hover p {
          // color: $color-primary;
        }
      }
    
      &__option-checked {
        position: relative;
        width: 12rem;
        height: 12rem;
        background-color: transparent;
        display: flex;
        background-color: $color-grey-blue;
        border: 0.1rem solid $color-primary;
        border-radius: 0.5rem;
        transition: all 0.3s ease-out;
    
        div {
          width: 100%;
          height: 8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            transform: scale(0.3);
          }
        }
    
        p {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          padding: 1rem 0;
          font-size: 1.3rem;
          font-weight: 400;
          border-top: 0.1rem solid $color-primary;
          color: $color-primary;
        }
      }
      &__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 2rem 2rem 2rem;
        display: flex;
      }
    
      &__buttons {
        display: flex;
        flex-direction: row;
        margin-left: auto;
      }
    
      &__back {
        width: 10rem;
      }
    
      &__next {
        width: 10rem;
        margin-left: 2rem;
      }
}