.home {
  &__cards {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  &__item {
  }
}
