.package {
  &__details {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
  }

  &__container {
    padding: 2rem;
  }

  &__item {
    font-size: 1.2rem;
    font-weight: 400;
    p {
    }
    span {
      color: $color-black-light-2;
    }
  }

  &__benefit {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__true {
    display: flex;
    align-items: center;
    svg {
      padding: 0.5rem;
      color: $color-success;
    }
  }

  &__false {
    display: flex;
    align-items: center;
    svg {
      padding: 0.5rem;
      color: $color-danger;
    }
  }

  &__section {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: $color-black-light-2;
  }

  &__benefits {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  &__premiums {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
}
