.packages {
  &__modal {
    position: relative;
    width: 90%;
    min-height: 90%;
    background-color: $color-white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    z-index: 2000;
    animation: modalOut 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.5s 0.2s;
    overflow: hidden;
  }

  &__heading {
    display: flex;
    padding-bottom: 1rem;
    align-items: flex-end;
  }

  &__information {
    margin-right: auto;
    h2 {
      font-weight: 500;
      font-size: 2rem;
      text-transform: capitalize;
      color: $color-grey-dark-3;
    }
  }

  &__close {
    width: 4rem;
    height: 4rem;
    align-self: stretch;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    transition: background-color 0.3s ease-out;

    svg {
      color: $color-grey-dark-2;
      transition: color 0.3s ease-out;
    }

    &:hover {
      background-color: $color-grey-light-2;
      color: $color-grey-dark-3;
    }

    &:hover svg {
      color: $color-grey-dark-3;
    }
  }

  &__container {
    padding: 2rem;
  }
  &__select {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4rem;
    justify-items: space-around;
  }
  &__option {
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid $color-grey-light-3;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;

    div {
      width: 100%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transform: scale(0.3);
      }
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 1rem 0;
      font-size: 1.3rem;
      font-weight: 400;
      border-top: 0.1rem solid $color-grey-light-3;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      color: $color-grey-dark-3;
    }
    &:hover {
      cursor: pointer;
    }

    &:hover p {
      background-color: $color-grey-light-1;
      // color: $color-primary;
    }
  }

  &__option-checked {
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: transparent;
    display: flex;
    border: 0.1rem solid $color-primary;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;

    div {
      width: 100%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transform: scale(0.3);
      }
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 1rem 0;
      font-size: 1.3rem;
      font-weight: 400;
      border-top: 0.1rem solid $color-primary;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      background-color: $color-grey-blue;
      color: $color-primary;
    }
  }
  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2rem 2rem 2rem;
    display: flex;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  &__back {
    width: 10rem;
  }

  &__next {
    width: 10rem;
    margin-left: 2rem;
  }

  &__details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2rem;
  }

  &__name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__casket {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }

  &__waiting {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }

  &__payment {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
  }

  &__lapse {
    grid-column: 9 / 11;
    grid-row: 1 / 2;
  }

  &__archive {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  &__principal-min {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  &__principal-max {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
  }

  &__dependent-max {
    grid-column: 7 / 9;
    grid-row: 2 / 3;
  }

  &__dependent-limit {
    grid-column: 9 / 11;
    grid-row: 2 / 3;
  }

  &__maturity {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  &__child-max {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

  &__child-max-school {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
  }

  &__sum-assured {
    grid-column: 7 / 9;
    grid-row: 3 / 4;
  }

  &__description {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
  }

  &__benefits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }

  &__permissions {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  &__check {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    input {
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-black;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-black-light-2;
    }
  }

  &__premium {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  &__currency {
  }

  &__family {
  }

  &__dependent {
  }

  &__individual-rates {
    display: flex;
    margin-top: 1rem;
  }

  &__form-rates {
    flex: 2;
  }

  &__table-rates {
    flex: 3;
    padding-left: 2rem;
  }

  &__rates-button {
    margin-top: 1rem;
  }

  &__review {

  }

  &__info {
   
  }

  &__benefits {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;

  }

  &__four-columns {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
  }
}
