.payment {
  &__form {
    display: flex;
  }

  &__left {
    flex: 1;
    background-color: pink;
    height: 30rem;
  }

  &__right {
    flex: 1;
    background-color: orange;
  }

  &__methods {
    padding: 2rem;
    display: grid;
   // grid-template-rows: 50px 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    
  }
  &__buttons {
    margin-left: auto;
    width: 50%;
    margin-top: 1rem;
    display: flex;
  }
  &__clear {
    flex: 1;
  }

  &__pay {
    flex: 2;
    margin-left: 1rem;
  }
}
