.recover {
  height: 100vh;

    &__back {
        width: 100%;
        position: relative;
    }

    &__btn-box {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    &__main {
        width: 100%;
        height: 100%;

    
        &__form {
          position: absolute;
          // background-color: aquamarine;
          width: 60rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }
      &__text {
        font-size: 1.3rem; 
      }
      &__form{
        display: inline-flex;
      }
}