.sign-in {
  &__back {
    width: 100%;
    position: relative;
  }
  &__btn-box {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  &__main {
    width: 100%;
    height: 100%;

    &__form {
      position: absolute;
      width: 30rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &__btn {
    margin: 0 auto;;
  }
}
