.users {
  &__details {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;
  }

  &__name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  &__surname {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }

  &__gender {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-grey-dark-3;
  }

  &__dob {
    grid-column: 9 / 11;
    grid-row: 1 / 2;
  }

  &__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-grey-dark-3;
  }

  &__number {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
  }

  &__national {
    grid-column: 6 / 9;
    grid-row: 2 / 3;
  }

  &__passport {
    grid-column: 9 / 11;
    grid-row: 2 / 3;
  }

  &__licence {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  &__phone {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

  &__email {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
  }

  &__address {
    grid-column: 1 / 9;
    grid-row: 4 / 5;
  }

  &__branch {
    grid-column: 9 / 11;
    grid-row: 3 / 4;
  }

  &__permissions {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  &__perm-grid {
  }

  //   &__title {
  //     font-size: 1.6rem;
  //     font-weight: 400;
  //     color: $color-black-light-2;
  //     text-transform: capitalize;
  //   }

  &__permission {
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-grey-dark-3;
  }

  &__perm-box {
    margin-top: 1rem;
    padding-left: 2rem;
  }

  &__check {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    input {
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-black;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-black-light-2;
    }
  }

  &__file {
    width: 15rem;
    height: 15rem;

    img {
      width: 15rem;
      height: 15rem;
    }
  }

  &__review-attachments {
    
  }
}
