@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideOutRight {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(.25);
    }

    100% {
        opacity: 1;
        transform: scale(.25);
    }
}

@keyframes tableOut {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: 1;

    }
}

@keyframes modalOut {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    // 80% {
    //     opacity: .5;
    //     transform: translateY(-5rem);
    // }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlayOut {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}