*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    height: 100%;


}

body {
    box-sizing: border-box;
    background: $color-grey-blue !important;
    
  

  
}

ul li {
    list-style: none;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }

