body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: $color-grey-dark;
  -webkit-font-smoothing: antialiased;
}

.text-small {
  font-size: 1.4rem;
}

.text-medium {
  font-size: 2.4rem;
}

.text-large {
  font-size: 3rem;
}
.text-huge {
  font-size: 4rem;
}

.text-blue {
  color: $color-primary !important;
}

.text-green {
  color: $color-green !important;
}

.text-success {
  color: #5cb85c !important;
}
.text-warning {
  color: #f0ad4e !important;
}

.text-danger {
  color: #d9534f !important;
}

.text-semi-bold {
  font-weight: 500;
}

.text-lower-case {
  text-transform: lowercase !important;
}

.heading-primary {
  font-weight: 500;
  font-size: 1.8rem;
  color: $color-black-light-2;
  text-transform: capitalize;
}

.heading-secondary {
  font-weight: 300;
  font-size: 1.8rem;
  color: $color-black-light-2;
  text-transform: capitalize;
}

.heading-tertiary {
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
