.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-extra-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
.u-margin-top-medium {
  margin-top: 5rem !important;
}
.u-margin-top-small {
  margin-top: 2rem !important;
}
.u-margin-top-extra-small {
  margin-top: 1rem !important;
}

.u-margin-right-big {
  margin-right: 8rem !important;
}
.u-margin-right-huge {
  margin-right: 10rem !important;
}
.u-margin-right-medium {
  margin-right: 5rem !important;
}
.u-margin-right-small {
  margin-right: 2rem !important;
}

.u-margin-left-big {
  margin-left: 8rem !important;
}
.u-margin-left-huge {
  margin-left: 10rem !important;
}
.u-margin-left-medium {
  margin-left: 5rem !important;
}
.u-margin-left-small {
  margin-left: 2rem !important;
}
.u-margin-left-extra-small {
  margin-left: 1rem !important;
}

.u-border-left {
    border-left: 2px solid $color-grey-light-2;
}
.u-border-right {
    border-right: 1px solid $color-grey-light-2;
}
.u-border-top {
    border-top: 2px solid $color-grey-light-2;
}

.u-border-bottom {
    border-bottom: 2px solid $color-grey-light-2;
}

.u-width-1 {
  width: 20rem !important;
}

.u-width-2 {
  width: 25rem !important;
}

.u-width-3 {
  width: 40% !important;
}

.u-height-1 {
  height: 50rem !important;
}

.u-height-2 {
  height: 70rem !important;
}
.u-height-3 {
  height: 90rem !important;
}
.u-height-4 {
  height: 100rem !important;
}

.u-hover-1{
  cursor: pointer;
}


.u-d-flex {
  display: flex;
}

.u-vertical-line {
  display: inline-block;
  border-right: 2px solid $color-grey-dark-2;
  height: 2rem;
}


